@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(./null-style.css);

*::selection {
	background-color: #acd2fe;
}

body {
	display: flex;
	flex-direction: column;
	height: 100dvh;
}

main {
	flex: 1 1 auto;
}

footer {
	margin-top: auto;
}

.global-container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 1rem; /* 4px */
}

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 222.2 84% 4.9%;
		--card: 0 0% 100%;
		--card-foreground: 222.2 84% 4.9%;
		--popover: 0 0% 100%;
		--popover-foreground: 222.2 84% 4.9%;
		--primary: 222.2 47.4% 11.2%;
		--primary-foreground: 210 40% 98%;
		--secondary: 210 40% 96.1%;
		--secondary-foreground: 222.2 47.4% 11.2%;
		--muted: 210 40% 96.1%;
		--muted-foreground: 215.4 16.3% 46.9%;
		--accent: 210 40% 96.1%;
		--accent-foreground: 222.2 47.4% 11.2%;
		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 210 40% 98%;
		--border: 214.3 31.8% 91.4%;
		--input: 214.3 31.8% 91.4%;
		--ring: 222.2 84% 4.9%;
		--radius: 0.75rem;
		--chart-1: 12 76% 61%;
		--chart-2: 173 58% 39%;
		--chart-3: 197 37% 24%;
		--chart-4: 43 74% 66%;
		--chart-5: 27 87% 67%;

		--white: 0 0 100%;
		--gray: 0 0 100% 50%;
		--gray-2: 0, 0%, 56% 100%;
		--black: 0 0 0 100%;
	}

	.dark {
		/* fixed colors */
		--primary: 187, 79%, 23%;
		--primary-foreground: 0, 0%, 100%;

		--background: 0 0% 0%;
		--foreground: 0, 0%, 100%;
		/*  */

		--card: 180, 1%, 71%, 42%;
		--card-foreground: 210 40% 98%;
		--popover: 222.2 84% 4.9%;
		/* */
		--popover-foreground: 210 40% 98%;

		/* c1c9d2 */

		--secondary: 212, 16%, 79%;
		--secondary-foreground: 210 40% 98%;

		/*--muted: 217.2 32.6% 17.5%;*/
		--muted: 180, 1%, 71%, 42%;
		--muted-foreground: 215 20.2% 65.1%;
		--accent: 217.2 32.6% 17.5%;
		--accent-foreground: 210 40% 98%;
		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 210 40% 98%;
		--border: 217.2 32.6% 17.5%;
		--input: 217.2 32.6% 17.5%;

		/* !!! ring is off */
		--ring: 187, 79%, 23%, 0%;
		--chart-1: 220 70% 50%;
		--chart-2: 160 60% 45%;
		--chart-3: 30 80% 55%;
		--chart-4: 280 65% 60%;
		--chart-5: 340 75% 55%;

		/*  */
		--background-contrast: #fff;
		/*  */
		--white: 0 0% 100%;
		--gray: 0, 0%, 100% 50%;
		/* 8f8f8f */
		--gray-2: 0, 0%, 56%;
		--gray-3: 0, 0%, 73%;
		--gray-4: 0, 0%, 94% 0.93%;
		--black: 0 0% 0%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
