.wrapper {
	display: flex;
	justify-content: space-between;
	align-items: top;
	width: 100%;
}

.title__wrapper {
	color: rgba(0, 0, 0, 0.5);
	font-weight: 800;
	flex: 1 1 auto;
}

.value__wrapper {
	color: #000;
	font-weight: 500;
	font-size: 20px;
	line-height: 110%;
	text-align: right;

	display: flex;
	flex-direction: column;
	justify-content: right;
}
